/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, sass/screen.scss */
html {
  width: 100%;
  height: 100%;
  min-width: 480px;
}

/* line 12, sass/screen.scss */
.row {
  margin: 0;
}

/* line 15, sass/screen.scss */
body {
  background: #ebebeb;
  width: 100%;
  height: 100%;
  font: 16px "ProximaNovaRegular", "Arial", sans-serif;
}

/* line 22, sass/screen.scss */
.wrapper {
  min-height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* line 27, sass/screen.scss */
.wrapper .empty {
  height: 240px;
}

/* line 30, sass/screen.scss */
.header-wrapper {
  width: 100%;
  height: 120px;
  background: #228bcc;
  margin: 0;
  padding: 0;
}

/* line 37, sass/screen.scss */
.header {
  margin: 0 auto;
}
/* line 40, sass/screen.scss */
.header .logopicture a {
  display: block;
}
/* line 44, sass/screen.scss */
.header .logo {
  font: 29px "ProximaNovaBold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #fff;
  line-height: 120px;
}
/* line 49, sass/screen.scss */
.header .logo a {
  display: block;
  color: inherit;
  text-decoration: none;
}
/* line 54, sass/screen.scss */
.header .logo a:hover {
  text-decoration: none;
}
/* line 59, sass/screen.scss */
.header .menu button {
  display: block;
  border: none;
  background: transparent;
  font: 20px "ProximaNovaRegular", "Arial", sans-serif;
  line-height: 120px;
  text-transform: uppercase;
  font-weight: normal;
  float: right;
  color: #fff;
  cursor: pointer;
}
/* line 70, sass/screen.scss */
.header .menu button:focus {
  border: none;
  outline: none;
}
/* line 74, sass/screen.scss */
.header .menu button:after {
  content: "";
  display: inline-block;
  background-image: url(../img/pointer.png);
  width: 12px;
  height: 10px;
  background-repeat: no-repeat;
}
/* line 84, sass/screen.scss */
.header .disabled {
  display: none;
}
/* line 87, sass/screen.scss */
.header .fixes {
  position: absolute;
  right: 0;
  background: #fff;
  width: 285px;
  top: 92px;
  z-index: 100;
  border-radius: 7px;
  height: 334px;
  overflow: hidden;
  padding-right: 7px;
}
/* line 98, sass/screen.scss */
.header .fixes #menu-scroller-value {
  display: none;
}
/* line 101, sass/screen.scss */
.header .fixes .noUi-vertical {
  width: 14px;
}
/* line 104, sass/screen.scss */
.header .fixes .noUi-base {
  background: #d7d7d7;
  border-radius: 10px;
}
/* line 108, sass/screen.scss */
.header .fixes .noUi-connect {
  background: #959595;
  border-radius: 10px;
}
/* line 112, sass/screen.scss */
.header .fixes .noUi-vertical .noUi-handle {
  width: 20px;
  height: 20px;
  left: -4px;
  top: -9px;
  border-radius: 50%;
  background: #959595;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
/* line 123, sass/screen.scss */
.header .fixes .noUi-handle:after, .header .fixes .noUi-handle:before {
  background: transparent;
}
/* line 127, sass/screen.scss */
.header .menu-block {
  position: relative;
}
/* line 129, sass/screen.scss */
.header .menu-block li {
  display: block;
  width: 100%;
  text-align: center;
  height: 42px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  font: 16px "ProximaNovaRegular", "Arial", sans-serif;
  line-height: 42px;
  font-weight: bold;
}
/* line 140, sass/screen.scss */
.header .menu-block a {
  display: block;
  text-decoration: none;
  color: #333;
  width: 100%;
  height: 100%;
}
/* line 148, sass/screen.scss */
.header #menu-scroller {
  height: 93%;
  top: 3%;
  position: absolute;
  right: 5px;
  border-radius: 10px;
}

/* line 157, sass/screen.scss */
.wrapper .header-page {
  clear: both;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 162, sass/screen.scss */
.wrapper .header-page .main-article h1 {
  font: 24px "ProximaNovaBold", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 169, sass/screen.scss */
.wrapper .header-page .main-article .main-text {
  font: 20px "ProximaNovaRegular", "Arial", sans-serif;
}
/* line 174, sass/screen.scss */
.wrapper .credit-sum {
  clear: both;
  /*scroller*/
  /***************scroller************************/
}
/* line 176, sass/screen.scss */
.wrapper .credit-sum .main-credit-sum, .wrapper .credit-sum .main-limit-sum {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: "ProximaNovaBold", "Arial", sans-serif;
  color: #1265ac;
  margin-bottom: 20px;
}
/* line 183, sass/screen.scss */
.wrapper .credit-sum .main-credit-sum:before, .wrapper .credit-sum .main-limit-sum:before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url(../img/calc.png);
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
  right: 10px;
}
/* line 195, sass/screen.scss */
.wrapper .credit-sum .main-limit-sum:before {
  background-image: url(../img/sand.png);
}
/* line 198, sass/screen.scss */
.wrapper .credit-sum .min {
  float: left;
  margin-top: 10px;
}
/* line 202, sass/screen.scss */
.wrapper .credit-sum .max {
  float: right;
  margin-top: 10px;
}
/* line 206, sass/screen.scss */
.wrapper .credit-sum .grad {
  text-align: justify;
  margin-top: 10px;
}
/* line 209, sass/screen.scss */
.wrapper .credit-sum .grad:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
/* line 215, sass/screen.scss */
.wrapper .credit-sum .grad li {
  display: inline-block;
  margin-left: -4px;
}
/* line 220, sass/screen.scss */
.wrapper .credit-sum .credit-val, .wrapper .credit-sum .limit-val {
  font: 20px "ProximaNovaRegular", "Arial", sans-serif;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}
/* line 225, sass/screen.scss */
.wrapper .credit-sum .credit-val:after, .wrapper .credit-sum .limit-val:after {
  content: " грн.";
}
/* line 229, sass/screen.scss */
.wrapper .credit-sum .limit-val:after {
  content: "";
}
/* line 233, sass/screen.scss */
.wrapper .credit-sum .noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  left: -17px;
  top: -6px;
}
/* line 239, sass/screen.scss */
.wrapper .credit-sum .noUi-handle {
  border-radius: 50%;
  background: #228bcc;
  box-shadow: none;
  -webkit-box-shadow: #d7d7d7 3px 2px 3px;
  box-shadow: #d7d7d7 3px 2px 3px;
  border: none;
}
/* line 247, sass/screen.scss */
.wrapper .credit-sum .noUi-connect {
  background: #228bcc;
  border-radius: 25px;
}
/* line 251, sass/screen.scss */
.wrapper .credit-sum .noUi-target {
  border-radius: 25px;
}
/* line 254, sass/screen.scss */
.wrapper .credit-sum .noUi-base {
  background: #d7d7d7;
  -webkit-box-shadow: #d7d7d7 0px 5px 3px;
  box-shadow: #d7d7d7 0px 5px 3px;
  border-radius: 25px;
}
/* line 260, sass/screen.scss */
.wrapper .credit-sum .noUi-handle:after, .wrapper .credit-sum .noUi-handle:before {
  background: transparent;
}
/* line 265, sass/screen.scss */
.wrapper .credit-item {
  width: 100%;
  clear: both;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
  min-height: 190px;
  margin-bottom: 25px;
}
/* line 275, sass/screen.scss */
.wrapper .credit-item .logobox {
  display: block;
  height: 100%;
  /* display: table-cell; */
  /* vertical-align: middle; */
  margin: 40px 0;
}
/* line 282, sass/screen.scss */
.wrapper .credit-item .raiting {
  clear: both;
  position: relative;
}
/* line 286, sass/screen.scss */
.wrapper .credit-item .order {
  margin-top: 30px;
}
/* line 289, sass/screen.scss */
.wrapper .credit-item button {
  width: 195px;
  height: 54px;
  border-radius: 7px;
  display: block;
  border: solid 1px #ccc;
  font: 16px "ProximaNovaBold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 14px;
  float: right;
  margin-right: 15px;
}
/* line 302, sass/screen.scss */
.wrapper .credit-item .btn-green {
  background: #6db63e;
  color: #fff;
}
/* line 309, sass/screen.scss */
.wrapper .creditoptions .math {
  text-align: justify;
  width: 100%;
  margin-top: 55px;
  padding-left: 15px;
}
/* line 314, sass/screen.scss */
.wrapper .creditoptions .math:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
/* line 321, sass/screen.scss */
.wrapper .creditoptions li {
  display: inline-block;
  text-align: center;
}
/* line 324, sass/screen.scss */
.wrapper .creditoptions li .num {
  width: 100%;
  display: block;
  text-align: center;
  font: 24px "ProximaNovaBold", "Arial", sans-serif;
  margin-bottom: 18px;
}
/* line 331, sass/screen.scss */
.wrapper .creditoptions li .desr {
  width: 100%;
  display: inline-block;
  text-align: center;
  font: 14px "ProximaNovaRegular", "Arial", sans-serif;
  text-transform: uppercase;
  color: #aaa;
}
/* line 338, sass/screen.scss */
.wrapper .creditoptions li .desr:after {
  content: "+";
  display: inline-block;
  color: transparent;
}
/* line 346, sass/screen.scss */
.wrapper .credrow {
  height: 195px;
}
/* line 349, sass/screen.scss */
.wrapper ul.raiting {
  display: block;
  margin-top: 25px;
  padding-left: 0;
  overflow: hidden;
}
/* line 354, sass/screen.scss */
.wrapper ul.raiting li {
  margin: 0;
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  background-image: url("../img/star.png");
  background-position: 22px 0;
}
/* line 364, sass/screen.scss */
.wrapper ul.raiting li.fullstar {
  background-position: 0 0;
}
/* line 369, sass/screen.scss */
.wrapper .credit-box {
  background: #fff;
  margin-top: 26px;
  height: 195px;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  padding-top: 40px;
  overflow: hidden;
}
/* line 379, sass/screen.scss */
.wrapper .credit-box .credit-raiting a {
  display: block;
  margin: 0;
}
/* line 382, sass/screen.scss */
.wrapper .credit-box .credit-raiting a img {
  padding-left: 20px;
  margin: 0;
  height: 40px;
}
/* line 388, sass/screen.scss */
.wrapper .credit-box .credit-raiting span.votes {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  font: 16px "ProximaNovaRegular", "Arial", sans-serif;
  color: #000;
}
/* line 398, sass/screen.scss */
.wrapper .credit-box .my-credit {
  position: relative;
  height: 105px;
}
/* line 401, sass/screen.scss */
.wrapper .credit-box .my-credit .vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 408, sass/screen.scss */
.wrapper .credit-box .my-credit .credit-name {
  font: 18px "ProximaNovaBold", "Arial", sans-serif;
  text-transform: capitalize;
}
/* line 412, sass/screen.scss */
.wrapper .credit-box .my-credit .credit {
  margin-top: 20px;
  padding-left: 0;
}
/* line 415, sass/screen.scss */
.wrapper .credit-box .my-credit .credit .credit-size-text, .wrapper .credit-box .my-credit .credit .credit-term-text, .wrapper .credit-box .my-credit .credit .credit-proc-text {
  display: block;
  padding-bottom: 4px;
}
/* line 419, sass/screen.scss */
.wrapper .credit-box .my-credit .credit .credit-val {
  font: 18px "ProximaNovaBold", "Arial", sans-serif;
  font-weight: bold;
}
/* line 422, sass/screen.scss */
.wrapper .credit-box .my-credit .credit .credit-val:after {
  content: " грн";
  text-transform: uppercase;
}
/* line 427, sass/screen.scss */
.wrapper .credit-box .my-credit .credit .credit-term {
  font: 18px "ProximaNovaBold", "Arial", sans-serif;
  font-weight: bold;
}
/* line 430, sass/screen.scss */
.wrapper .credit-box .my-credit .credit .credit-term:after {
  content: " грн";
  text-transform: uppercase;
}
/* line 435, sass/screen.scss */
.wrapper .credit-box .my-credit .credit .credit-proc {
  font: 18px "ProximaNovaBold", "Arial", sans-serif;
  font-weight: bold;
}
/* line 438, sass/screen.scss */
.wrapper .credit-box .my-credit .credit .credit-proc:after {
  content: " грн";
  text-transform: uppercase;
}
/* line 446, sass/screen.scss */
.wrapper .credit-box .order button {
  width: 220px;
  height: 54px;
  border-radius: 7px;
  display: block;
  border: solid 1px #ccc;
  font: 16px "ProximaNovaBold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 14px;
}
/* line 457, sass/screen.scss */
.wrapper .credit-box .order .btn-green {
  background: #6db63e;
  color: #fff;
}
/* line 463, sass/screen.scss */
.wrapper article.my-credit-article {
  clear: both;
}
/* line 465, sass/screen.scss */
.wrapper article.my-credit-article h1 {
  font: 24px "ProximaNovaBold", "Arial", sans-serif;
  font-weight: bold;
  padding: 30px;
  text-transform: uppercase;
  text-align: center;
}
/* line 472, sass/screen.scss */
.wrapper article.my-credit-article .article-content {
  margin-bottom: 38px;
}
/* line 474, sass/screen.scss */
.wrapper article.my-credit-article .article-content p {
  margin-bottom: 20px;
}
/* line 478, sass/screen.scss */
.wrapper article.my-credit-article .more {
  display: none;
}
/* line 482, sass/screen.scss */
.wrapper .feedback {
  width: 90%;
  margin: 0 auto;
}
/* line 485, sass/screen.scss */
.wrapper .feedback h2 {
  font: 24px "ProximaNovaBold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
}
/* line 492, sass/screen.scss */
.wrapper .feedback h2:before {
  display: inline-block;
  content: "";
  background-image: url(../img/feetback.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 21px;
}
/* line 501, sass/screen.scss */
.wrapper .feedback .form {
  margin-top: 25px;
  clear: both;
}
/* line 504, sass/screen.scss */
.wrapper .feedback .form input.name, .wrapper .feedback .form input.mail {
  width: 90%;
  height: 60px;
  display: block;
  border-radius: 4px;
  border: 1px solid #1265ac;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 16px 50%;
  margin-bottom: 30px;
}
/* line 516, sass/screen.scss */
.wrapper .feedback .form .name {
  background-image: url("../img/man.png");
}
/* line 519, sass/screen.scss */
.wrapper .feedback .form .mail {
  float: right;
  background-image: url("../img/mail.png");
}
/* line 523, sass/screen.scss */
.wrapper .feedback .form .mk-feedback {
  width: 100%;
  height: 305px;
  border-radius: 4px;
  border: 1px solid #1265ac;
  padding: 10px;
}
/* line 530, sass/screen.scss */
.wrapper .feedback .form .add-feedback {
  width: 198px;
  height: 54px;
  border-radius: 7px;
  display: block;
  border: solid 1px #ccc;
  font: 16px "ProximaNovaBold", "Arial", sans-serif;
  text-transform: uppercase;
  margin-top: 14px;
  background: #6db63e;
  color: #fff;
  float: right;
}
/* line 544, sass/screen.scss */
.wrapper .feedback .inname, .wrapper .feedback .inmail, .wrapper .feedback .inarea {
  padding: 0;
}
/* line 548, sass/screen.scss */
.wrapper .comments {
  background: #fff;
  margin-bottom: 50px;
  margin-top: 56px;
  border-radius: 8px;
}
/* line 554, sass/screen.scss */
.wrapper .comments .photo img {
  display: block;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  margin: 60px auto 10px;
}
/* line 561, sass/screen.scss */
.wrapper .comments .photo .name {
  display: block;
  width: 100%;
  text-align: center;
  font: 17px "ProximaNovaBold", "Arial", sans-serif;
  font-weight: bold;
  color: #000;
}
/* line 570, sass/screen.scss */
.wrapper .comments .comment-message {
  /*form styles*/
}
/* line 572, sass/screen.scss */
.wrapper .comments .comment-message .raiting {
  float: left;
  width: 50%;
}
/* line 576, sass/screen.scss */
.wrapper .comments .comment-message .date {
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 69px;
  font-size: 15px;
  color: #333;
}
/* line 583, sass/screen.scss */
.wrapper .comments .comment-message .date:before {
  background: url(../img/calendar.png);
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  top: 2px;
  position: relative;
}
/* line 593, sass/screen.scss */
.wrapper .comments .comment-message .message-text {
  clear: both;
  font: 18px "ProximaNovaRegular", "Arial", sans-serif;
  padding-bottom: 20px;
}
/* line 598, sass/screen.scss */
.wrapper .comments .comment-message .answer, .wrapper .comments .comment-message .answer-count {
  float: right;
  font: 18px "ProximaNovaRegular";
  color: #333;
  text-decoration: none;
  margin-left: 50px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin-bottom: 25px;
}
/* line 607, sass/screen.scss */
.wrapper .comments .comment-message .answer:hover, .wrapper .comments .comment-message .answer-count:hover {
  border-color: transparent;
}
/* line 611, sass/screen.scss */
.wrapper .comments .comment-message .answer-count:after {
  content: "";
  display: inline-block;
  background-image: url(../img/feetbackBlack.png);
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  margin: -8px 5px;
}
/* line 621, sass/screen.scss */
.wrapper .comments .comment-message input.name, .wrapper .comments .comment-message input.mail {
  width: 90%;
  height: 40px;
  display: block;
  border-radius: 4px;
  border: 1px solid #000;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 16px 50%;
  margin-bottom: 30px;
}
/* line 633, sass/screen.scss */
.wrapper .comments .comment-message .name {
  background-image: url("../img/man.png");
}
/* line 636, sass/screen.scss */
.wrapper .comments .comment-message .mail {
  float: right;
  background-image: url("../img/mail.png");
}
/* line 640, sass/screen.scss */
.wrapper .comments .comment-message .mk-feedback {
  width: 100%;
  height: 135px;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 10px;
}
/* line 647, sass/screen.scss */
.wrapper .comments .comment-message .add-feedback {
  width: 198px;
  height: 54px;
  border-radius: 7px;
  display: block;
  border: solid 1px #ccc;
  font: 16px "ProximaNovaBold", "Arial", sans-serif;
  text-transform: uppercase;
  margin-top: 14px;
  background: #6db63e;
  color: #fff;
  float: right;
  margin-bottom: 30px;
}
/* line 662, sass/screen.scss */
.wrapper .comments .answer-form {
  width: 100%;
  margin: auto;
}

/* line 670, sass/screen.scss */
article.credit {
  clear: both;
  height: auto;
  margin-top: -210px;
  margin-bottom: 242px;
  background: #fff;
  padding: 45px 0;
}
/* line 677, sass/screen.scss */
article.credit h2 {
  font: 24px "ProximaNovaBold", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
/* line 682, sass/screen.scss */
article.credit p {
  padding-top: 20px;
}
/* line 685, sass/screen.scss */
article.credit .more {
  float: right;
  display: block;
  padding-right: 15px;
  font-size: 16px;
  font-family: "ProximaNovaRegular", "Arial", sans-serif;
  text-decoration: underline;
}

/* line 694, sass/screen.scss */
.footer {
  height: 240px;
  margin-top: -240px;
  position: relative;
  background: #0f528b;
  border-bottom: solid 2px rgba(255, 255, 255, 0.46);
}
/* line 700, sass/screen.scss */
.footer .footer-wraper {
  width: 90%;
  margin: auto;
  max-width: 960px;
}
/* line 707, sass/screen.scss */
.footer .footer-wraper .link-block {
  display: block;
  text-align: center;
  margin-top: 30px;
}
/* line 711, sass/screen.scss */
.footer .footer-wraper .link-block li {
  margin-bottom: 25px;
}
/* line 713, sass/screen.scss */
.footer .footer-wraper .link-block li a {
  display: block;
  color: #fff;
  font: 17px "ProximaNovaRegular", "Arial", sans-serif;
  font-weight: normal;
}

/* line 724, sass/screen.scss */
.copyright {
  height: 64px;
  background: #0f528b;
  line-height: 64px;
}
/* line 728, sass/screen.scss */
.copyright .company {
  text-align: left;
}
/* line 731, sass/screen.scss */
.copyright .info {
  text-align: right;
}
/* line 734, sass/screen.scss */
.copyright p {
  font: 16px "ProximaNovaRegular", "Arial", sans-serif;
  color: #fff;
  line-height: 64px;
}
